@charset "UTF-8";

/* コンテンツの縦位置調整 */
header {
	height: 10px;
}
/* 入力エラーチェック時の表示 */
#Tag-Name:invalid + span::after {
	position: absolute;
	content: "❎";
	padding-left: 10px;
	margin-top: 5px;
}
#Tag-Name:valid + span::after {
	position: absolute;
	content: "✅";
	padding-left: 10px;
	margin-top: 5px;
}
span {
	font-size: 30px;
}
/* 入力フォームの位置調整 */
.Set-Position {
	position: relative;
	top: 40px;
	width: fit-content;
	padding-left: 30px;
}
/* 入力を促すコメント */
#Comment{
	position: absolute;
	height: 20px;
	margin-left: 30px;
	font-size: 18px;
}
/* テキストボックスの仕様 */
#Tag-Name {
	line-height: 0.7cm;
	font-size: 14px
}
/* appearence of pulldown box */
#Del-Name {
	height: 0.8cm;
	width: 182px;
	font-size: 14px;
}
/* 決定ボタンの仕様 */
#Permit-Button {
	position: relative;
	top: 40px;
	margin-top: 5px;
	padding-left: 152px;
}
#Button-Style {
	width: 60px;
	height: 30px;
}
#com {
	position: relative;
	top: 30px;
	height: 10px;
	margin-left: 50px;
	font-size: small;	
}