<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css"/>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="Section-Block">
 		<h2 id="Section-Title"></h2>
		<div id="SecTitle-Label">
			<canvas id="SecTitle-End"></canvas>
		</div>
	</div>
	<script type="text/javascript" src="views.js"></script>
	<script type="text/javascript" src="../setting.js"></script>
	<script>
		async function init() {
			const jsonData = await receiveData( "Section" );
			const hEl = document.getElementById( "Section-Title" );
			hEl.innerHTML = jsonData.section;
			setCanvas( "Section-Title", "#SecTitle-Label" );
			drawSectionHeader( "#SecTitle-End" );
		}
	</script>
</body>
</html>