<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css"/>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
            <div id="Section-Block">
                <h2 id="Section-Title">第1章．サーブレットプログラムでのデータベースの利用</h2>
                <div id="SecTitle-Label">
                    <canvas id="SecTitle-End"></canvas>
                </div>
            </div>
            <script type="text/javascript" src="views.js"></script>
            <script type="text/javascript" src="../storage.js"></script>
            <script>
				function init() {
					setCanvas( "Section-Title", "#SecTitle-Label" );
					drawSectionHeader( "#SecTitle-End" );
				}
			</script>
</body>
</html>