@charset "UTF-8";

header {
	white-space: nowrap;
    border-top: 20px solid lightblue;
    border-bottom: 20px solid lightblue;
	padding-bottom: 4px;
}

h1 {
    width: 100%;
    height: 40px;
    margin: 0;
    text-indent: 1cm;
}

#Section-Block {
    position: relative;
    width: auto;
    height: auto;
    padding-left: 1cm;
    white-space: nowrap;
}
h2 {
    position: absolute;
    margin: 0;
    width: auto;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    border-top: 2px solid black;
    background-color: cornsilk;
}
#SecTitle-End {
    height: 40px;
    width: 40px;
}
#SecTitle-Label {
    position: relative;
    display: flex;
    justify-content: flex-end;
/*
    top: 0;
    left: 0;
    padding: 0;
*/
    height: 40px;
    border-bottom: 10px solid chocolate;
}
