<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="style.css"/>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div id="Tag"></div>
		<header id="Title"></header><hr>
<script type="text/javascript" src="../setting.js"></script>
<script>
	async function init() {
		const jsonData = await receiveData( "Title" );
		const hEl = document.getElementById( "Title" );
        const tagEl = document.getElementById( "Tag" );
		hEl.insertAdjacentHTML( "afterbegin", "<h1>" + jsonData.title + "</h1>" );
		tagEl.insertAdjacentHTML( "afterbegin", "<span><small>" + jsonData.tagName + "</small></span>");
	}
	
</script>
</body>
</html>