<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="style.css"/>
<script type="text/javascript" src="views.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
       <header><h1>サーブレットの基礎</h1></header><hr>
        <main>
            <div id="Canvas-Block">
                <h2 id="Section-Name1">第1章．サーブレットプログラムでのデータベースの利用</h2>
                <div id="Section-Header1">
                    <canvas class="Section-Devider"></canvas>
                </div>
            </div>
            <script type="module">window.addEventListener( "load", ()=>{ setCanvas( "Section-Name1", "#Section-Header1" ) } )</script>
            <script type="module">window.addEventListener( "load", ()=>{drawSectionHeader( ".Section-Devider" );} )</script>
        </main>
    </div>
</body>
</html>