<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" href="style.css"/>
<script type="text/javascript" src="views.js"></script>
<script type="text/javascript" src="../storage.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div id="Tag"></div>
       <div id="ViewTitle"><header id="Title"></header><hr></div>
<script>
       function init() {
              const vals = getTitle();
              const hEl = document.getElementById( "Title" );
              const tagEl = document.getElementById( "Tag" );
				hEl.insertAdjacentHTML( "afterbegin", "<h1>" + vals.title + "</h1>" );
				tagEl.insertAdjacentHTML( "afterbegin", "<span><small>" + vals.tagName + "</small></span>")
       	}
</script>
</body>
</html>