@charset "UTF-8";
.Right-Justify {
	display: flex;
	justify-content: flex-end;
	padding-right: 27%;
	margin: 0;
}
#Tag-Select {
	font-size: 18px;
	display: block;
	height: auto;
	width: auto;
	margin-right: 100px;
}
.Selector {
	height: 0.8cm;
	width: 5cm;
	font-size: 20px;
	padding-right: 5px;
}