@charset "UTF-8";
/* display on right side */
.Right-Justify {
	display: flex;
	justify-content: flex-end;
	height: fit-content;
	padding-right: 27%;
}
/* display on left side */
.Left-Justify {
	padding-left: 7%;
	height: fit-content;
}
/* style of comment  */
.Comment {
	font-size: 18px;
	display: block;
	height: auto;
	width: auto;
}
/* size of dropdown list */
.Selector {
	height: 0.8cm;
	width: 5cm;
	font-size: 20px;
	padding-right: 5px;
}
/* size of textbox */
.Textbox {
	font-size: 30px;
	width: 15cm;
}
/* permission button position */
#permit {
	margin-left: 7%;
	margin-top: 20px;
	width: 100px;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	border: 2px groove darkgray;
}
#permit:hover {
	background-color: rgba(223, 215, 215, 0.826);
}
#permit:active {
	background-color: rgba(171, 166, 166, 0.693);
}
/* [Add Tag] [Del Tag] button */
.Tag-Button {
	margin-top: 5px;
	letter-spacing: 1px;
}

.Grid-Container {
	position: relative;
	display: grid;
	grid-template-columns: 65% 350px;
	margin: auto;
}
.Grid-Item {
	height: auto;
	width: 100%;
	min-width: 350px;
	padding: 10px;
	background-color: white;
	border: 2px solid cadetblue;
}
.Frame {
	width: 100%;
	height: 100%;
}
#Contents1 {
	font-size: 24px;
	width: 100%;
}
#Display-Area {
	height: fit-content;
	min-height: 300px;
	width: 70%;
	margin-left: 10%;
	margin-right: 10%;
	word-wrap: break-word;
}
#Align-Containt {
	display: grid;
	grid-template-columns: 39% 20% 39%;
}
#Left-Side {
	width: 100%;
	height: auto;
}
#Right-Side {
	width: 100%;
}
#Center {
	width: 100%;
}
.Reserved-Words {
	width: 100px;
}
#Preview1 {
	width: 60%;
	height: fit-content;
	background-color: darkcyan;
}
#Illust1 {
	margin-left: 20px;
	float: right;
}
#Doc1 {
	font-size: 24px;
}
#File {
	display: none;
}
#Image1 {
	border: 2px solid black;
	margin-top: 20px;
	margin-left: 50px;
	width: 350px;
	height: 275px;
}

#Save {
	width: 100px;
}
#BackGround {
	overflow-y: scroll;
	overflow-x: hidden;	
}
